extends _layout

block head
  script(src='/channels.js')

block content
  .container
    nav
      li.active
        a(href='/channels') Manage Channels
      li
        a(href='/tvs') Control TVs
  .container
    .module.channels
      ul#channel-list

      footer
        input#channel-input(type='text', name='add-channel', placeholder='https://www.youtube.com/playlist?list=PLDrWwcNG3AGJASxw7-tHQ92S8aJrDW2IT')
        .info
          a#create-channel.button(href='#') Create Channel
          p Paste a YouTube playlist URL or a Vimeo album URL in the input above. Learn how to create a YouTube playlist by watching <a href='https://www.youtube.com/watch?v=jwDsxuoicWg' target='_blank'>this video</a>. Learn how to create a vimeo album by reading <a href='https://vimeo.com/help/faq/organizing-your-videos/albums' target='_blank'>this article</a>.
