doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no')

    link(rel='apple-touch-icon', href='/img/touch-icon.png')
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    script(src='/socket.io/socket.io.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='/templates.js')
    script(src='/app.js')

    body
      .container

        .module.tvs
          header
            h1 TVs
          ul
            li.chromecast-details
              select.channel-selector
                option(value='12353114') Awesome to the Max
                option(value='12353114') Moonshot
              .connection-status
                i.fa.fa-link
              .meta
                ul
                  li.chromecast-name First Floor Stage
                  li.now-playing
                    span.key Now
                    span.value Gangnam Style
                  li.up-next
                    span.key On Deck
                    span.value Rockwell Retro Encabulator

            li.chromecast-details
              select.channel-selector
                option(value='12353114') Moonshot
                option(value='12353114') Awesome to the Max
              .connection-status
                i.fa.fa-unlink
              .meta
                ul
                  li.chromecast-name Speed Dating
                  li.now-playing
                    span.key Now
                    span.value The First Honest Cable Company
                  li.up-next
                    span.key On Deck
                    span.value Brewing TV - Episode 67: How to Make Hard Cider

        .module.channels
          header
            h1 Channels
          ul#channel-list

          footer
            input#channel-input(type='text', name='add-channel', placeholder='https://www.youtube.com/playlist?list=PLDrWwcNG3AGJASxw7-tHQ92S8aJrDW2IT')
            p paste in a YouTube playlist URL, it should look like this:
              span.url https://www.youtube.com/playlist?list=PLDrWwcNG3AGJASxw7-tHQ92S8aJrDW2IT
            a#add-channel.button(href='#') Add Channel
