doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no')

    link(rel='apple-touch-icon', href='/img/touch-icon.png')
    link(rel='stylesheet', href='/app.css')

    script(src='/socket.io/socket.io.js')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='/app.js')

    body
      a(href='#') Play
