extends _layout

block head
  script(src='/tvs.js')

block content
  .container
    .module.tvs
      header
        h1 TVs
      ul
        li.chromecast-details#chromecast-7d4d252eef4e84dce64037d5103e99da
          .channel-station
            p Tuned into <a class='channel' data-chromecast-id='7d4d252eef4e84dce64037d5103e99da' href='#'>Awesome to the Max</a>
          .connection-status
            i.fa.fa-link
          .meta
            ul
              li.chromecast-name First Floor Stage
              li.now-playing
                span.key Now Playing
                span.value Gangnam Style

        li.chromecast-details
          .channel-station
            p Tuned into <a class='channel' data-chromecast-id='7d4d252eef4e84dce64037d5103e99da' href='#'>Moonshot</a>
          .connection-status
            i.fa.fa-unlink
          .meta
            ul
              li.chromecast-name Speed Dating
              li.now-playing
                span.key Now Playing
                span.value The First Honest Cable Company
