extends _layout

block head
  script(src='/tvs.js')

block content
  .container
    .module.tvs
      header
        h1 TVs
      ul
        li.chromecast-details
          .channel-station
            p Tuned into <a class='channel' data-chromecast-id="123" href='#'>Awesome to the Max</a>
          .connection-status
            i.fa.fa-link
          .meta
            ul
              li.chromecast-name First Floor Stage
              li.now-playing
                span.key Now
                span.value Gangnam Style
              li.up-next
                span.key On Deck
                span.value Rockwell Retro Encabulator

        li.chromecast-details
          .channel-station
            p Tuned into <a class='channel' href='#'>Moonshot</a>
          .connection-status
            i.fa.fa-unlink
          .meta
            ul
              li.chromecast-name Speed Dating
              li.now-playing
                span.key Now
                span.value The First Honest Cable Company
              li.up-next
                span.key On Deck
                span.value Brewing TV - Episode 67: How to Make Hard Cider

    
