extends _layout

block head
  script(src='/tvs.js')

block content
  .container
    nav
      li
        a(href='/channels') Manage Channels
      li.active
        a(href='/tvs') Control TVs
  .container
    .module.chromecasts
      ul#chromecast-list
