@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Roboto);


body{
  background-color: #1f253d;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, ul, li, p{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  color: #37ECF0;
}
input{
  background-color: #394264;
  border: 1px solid #262E4D;
  padding: 10px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,.1);
}



/* components */
.container{
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}
.button{
  background-color: #11a8ab;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid #2BBFC2;
}
.button:hover{
  background-color: #2BBFC2;
  border: 1px solid #11a8ab;
}
nav{
  float: right;
  font-size: 150%;
  margin-top: 50px;
}
nav li{
  float: left;
  background-color: #11a8ab;
  border-right: 1px solid #1f253d;
  border-bottom: 1px solid #1f253d;
  opacity: .4;
}
nav li.active{
  opacity: 1;
  background-color: #394264;
  border-bottom: 1px solid #394264;
  font-weight: bold;
}
nav li:last-child{
  border-right: none;
}
nav li a{
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}



/* module components */
.module{
  background-color: #394264;
  margin-bottom: 100px;
}
.module header{
  background-color: #11a8ab;
  padding: 20px;
  text-align: center;
}
.module footer{
  background-color: #50597b;
  padding: 10px;
  overflow: hidden;
}
.module li.details{
  border-bottom: 1px solid #1f253d;
  padding: 20px 10px;
  overflow: hidden;
  position: relative;
}
.module li.details a{
  color: white;
  text-decoration: none;
}
.module li.details i.fa{
  font-size: 120%;
  padding: 10px;
}
.module .channel-station span{
  font-weight: bold;
  color: white;
}



/* module meta data */
.meta{
  float: left;
}
.meta li{
  padding-bottom: 5px;
  overflow: hidden;
}

.meta .key{
  opacity: .7;
  padding-right: 20px;
  display: inline-block;
  font-size: 70%;
  float: left;
  padding-top: 3px;
  font-family: 'Lora', Helvetica;
}
.meta .value{
  font-size: 80%;
  width: 75%;
  float: left;
  line-height: 145%;
}



/* Chromecast Module */
.module.chromecasts .connection-status{
  float: left;
  margin-right: 20px;
}
.module.chromecasts li.details i.fa{
  opacity: .5;
}
.module.chromecasts .channel{
  width: 30%;
  float: right;
  font-size: 85%;
  line-height: 140%;
  cursor: pointer;
}
.module.chromecasts h2 {
  font-size: 120%;
}
.module.chromecasts h3 {
  font-size: 70%;
  margin-top: 2px;
  margin-bottom: 10px;
}
.module.chromecasts .info{
  overflow: hidden;
}
.module.chromecasts .channel a{
  color: #A0ACD9;
}
.module.chromecasts .channel span.title{
  color: white;
}
.module.chromecasts .meta{
  width: 60%;
}
.module.chromecasts .controls{
  margin-left: 59px;
  margin-top: 10px;
}
.module.chromecasts .controls li{
  display: inline-block;
  margin-right: 30px;
  font-size: 90%;
  opacity: .5;
}
.module.chromecasts .controls li:hover, .module.chromecasts .controls li.active{
  opacity: 1;
}



/* Channels Module */
.module.channels footer input{
  display: block;
  width: 95.6%;
  padding: 2%;
}
.module.channels footer .button{
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
.module.channels footer p{
  opacity: .75;
  margin-top: 8px;
  padding-right: 5px;
  padding-left: 150px;
  font-size: 85%;
  line-height: 170%;
}
.module.channels a.delete-channel{
  background-color: #e64c65;
  opacity: 1;
  border-radius: 20px;
  font-size: 90%;
}
.module.channels li.details .delete{
  display: block;
  float: right;
  padding: 10px;
  background-color: #e64c65;
  border-radius: 20px;
  font-size: 90%;
}
.module.channels .meta{
  padding-left: 10px;
  width: 85%;
}
.module.channels .meta .key{
  width: 70px;
}



/* custom select menu */
#channel-selector{
  z-index: 2;
  position: absolute;
  background-color: #394264;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}
#channel-selector header{
  border-radius: 3px 3px 0 0;
  background-color: #11a8ab;
  padding: 10px;
  text-align: center;
}
#channel-selector header h2{
  font-size: 100%;
  white-space: nowrap;
}
#channel-selector header .close{
  font-size: 60%;
  line-height: 0;
  background-color: #e64c65;
  border-radius: 20px;
  padding: 14px 10px;
  float: right;
  margin: -5px -5px 0 140px;
  color: white;
  text-decoration: none;
}
#channel-selector li a{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #1f253d;
  font-size: 90%;
  color: white;
  text-decoration: none;
}
#channel-selector li a:hover{
  background-color: #50597b;
}
